@model IEnumerable<Demonstracao3.Models.TB_LINGUAGEM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            NM_LINGUAGEM
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NM_LINGUAGEM)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_LINGUAGEM }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_LINGUAGEM }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_LINGUAGEM })
        </td>
    </tr>
}

</table>
